* {
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: black;
  text-align: center;
}


.toplogo{
  position: absolute;
  top: 50px;
  left: 75px;
  font-size: 50px;
}

.bottomlogo{
  position: absolute;
  top: 90px;
  left: 145px;
  font-size: 50px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 150px; /* Stay at the top */
  left: 50px;
  background-color: #111; /* Black*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 30px; 
  padding-right: 30px; 
  display: row;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 220px;
  
}


/* .imagecol {
  overflow:hidden
} */


.landingimage {
  position: absolute;
  left: 20%;
  top: 20%;
  width:540px; /* you can use % */
    height: auto;
}


.homeimage {
  position: absolute;
  left: 25%;
  top: 32%;
  
}

.landingtext{
  position: absolute;
   top: 400px;
   left: 30px;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color: white;
   font-size: 40px;
}

.btn {
  position: absolute;
  top: 90%;
  left: 60%;
  width: 150px;
  height: 50px;
  border:none;
  
  background: rgba(255, 255, 255,0);
  font-size: 25px;
  color: white;
}

